<div class="container">
  <div class="row">
    <p>
      CustomerServiceで設定されている値：「{{serviceProp}}」
    </p>

    <h2>Customer一覧</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ユーザー名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">電話番号</th>
          <th scope="col">住所コード</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of customers">
          <td>{{c.id}}</td>
          <td>{{c.username}}</td>
          <td>{{c.email}}</td>
          <td>{{c.phoneNumber}}</td>
          <td>{{c.postCode}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>