<div class="row">
  <p>
    CustomerService接続テスト：「{{serviceProp}}」
  </p>

  <h3>Customer一覧 <span style="margin-left: 1rem;"><button class="btn btn-success" routerLink="/customer/create">Customerを作成する。</button></span></h3>
  <p>↓<span class="note">ID</span>をクリックすると<span class="note">詳細ページ</span>へ遷移します。</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ユーザー名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">電話番号</th>
        <th scope="col">住所コード</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customers">
        <td><span><a routerLink="/customers/{{c.id}}">{{c.id}}</a></span></td>
        <td>{{c.username}}</td>
        <td>{{c.email}}</td>
        <td>{{c.phoneNumber}}</td>
        <td>{{c.postCode}}
          <span style="float: right;"><button class="btn btn-danger btn-sm" (click)="deleteCustomer(c.id)">削除する</button></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>